/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 4rem;
}

.navbar {
  background-color: white;
}

.login {
  background-color: #495e57;
  color: #ffffff;
}

.login:hover {
  background-color: #384842;
  color: #ffffff;
}
#hero {
  background-color: #495e57;
}

#hero h1 {
  color: #f4ce14;
  font-family: "Markazi Text", sans-serif;
  font-weight: 500;
  font-size: 64pt;
  line-height: 0.7;
}

#hero h3,
#hero p {
  color: white;
}
p {
  font-family: "Karla", serif;
}

#testimonials,
#specials,
#about {
  margin-top: 100px;
}


#specials .btn {
  height: 50%;
}
#specials .card img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}
#specials .card-body a {
  text-decoration: none
}

#testimonials {
  background-color: #d2d2d2;
  padding: 100px 0;
}

#testimonials .card img {
  border-radius: 50%;
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

#about img {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  border-radius: 50%;
}

#footer {
  background-color: #3c3c3c;
  color: white;
}



.order-online {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.order-online h1 {
    font-size: 3rem;
    color: #F4CE14;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}